:root {
  --primary: #f6c922;
}
h1 {
  font-family: "Playfair Display", serif;
  color: #333333;
  font-size: 45px !important;
}
h2,
h3,
p {
  font-family: "Work Sans", sans-serif;
}
.btn-yellow {
  width: fit-content;
  padding: 10px 20px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  background-color: var(--primary);
  transition: all 200ms ease-in-out;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}
.btn-yellow:hover {
  border: 2px solid var(--primary);
  background-color: #e59900;
}
.hero {
  background-image: url("/img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}
.hero-img {
  width: 350px;
  aspect-ratio: initial;
}
.hero-text {
  color: #f0f4f4;
}
