:root {
  --primary-color: #f05247;
  --secondary-color: #f6c922;
  --tertiary-color: #e7edf0;
  --paragraph-color: #333333;
  --brand-purple: #6860ab;
  --box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.17);
}
b {
  color: var(--brand-purple);
}
h1 {
  font-family: "Playfair Display", serif;
  color: var(--paragraph-color);
  font-size: 45px !important;
}
h2,
h3,
p {
  font-family: "Work Sans", sans-serif;
}
.about-section h2 {
  color: var(--primary-color);
  font-weight: 600;
}
.about-section {
  color: var(--paragraph-color);
}
.btn-yellow {
  width: fit-content;
  padding: 10px 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  transition: all 200ms ease-in-out;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}
.btn-yellow:hover {
  border: 2px solid var(--secondary-color);
  color: white;
  background-color: #e59900;
}
.card {
  box-shadow: var(--box-shadow);
  border: none !important;
  padding: 20px;
  align-items: center;
}
.contact-icon {
  background-color: var(--secondary-color);
  font-size: 18px;
  padding: 8px;
  border-radius: 5em;
}
.contact-info {
  background-color: var(--tertiary-color);
  padding: 20px 0px 20px 20px;
  border-radius: 10px;
}
.footer-logo {
  width: 120px;
}
.hero {
  background-image: url("/img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}
.hero-img {
  width: 350px;
  aspect-ratio: initial;
}
.hero-text {
  color: #f0f4f4;
}
.navbar {
  box-shadow: var(--box-shadow);
}
.nav-logo {
  width: 150px;
}

.portfolio-icon {
  background-color: var(--brand-purple);
  font-size: 35px;
  text-align: center;
  border-radius: 48px;
  width: fit-content;
  aspect-ratio: 1/1;
}
.portfolio-section {
  background-color: #d2dce1;
  padding: 25px;
}
.portfolio-section h2 {
  color: var(--brand-purple);
  font-weight: 600;
}
.sm-bar {
  background-color: var(--secondary-color);
  padding: 15px;
}
.sm-icon {
  font-size: 30px;
  transition: all 200ms ease-in-out;
}

.sm-icon:hover {
  font-size: 35px;
  color: black;
}
.user-form {
  display: flex;
  flex-direction: column;
  align-items: right;
}
.user-form input {
  padding: 8px;
  border: 0.5px solid #969696;
  border-radius: 3px;
}

@media (max-width: 900px) {
  .about-paragraph,
  .portfolio-paragraph {
    text-align: center;
  }
  .card {
    margin: 20px 0;
    width: 27rem !important;
  }
  .contact-section {
    text-align: center;
  }
  .contact-content {
    display: flex;
    justify-content: center;
  }
  .design-content {
    text-align: center;
    margin-top: 20px !important;
  }
  .hero {
    padding: 10px;
  }
  .hero-text {
    text-align: center;
  }
  .member-photo {
    max-width: 250px !important;
  }
  .sm-icon {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .design-content {
    text-align: center;
    margin-top: 20px !important;
  }
  .hero {
    height: 300px;
  }
  .hero-text {
    padding-top: 50px;
  }
}
