h1 {
  font-family: "Playfair Display", serif;
  color: #333333;
  font-size: 55px !important;
}
h2,
h3,
p {
  font-family: "Work Sans", sans-serif;
}
.btn-yellow {
  width: fit-content;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: orange;
  margin: 20px;
}
